@import '../../styles/vars';

/* BEGIN - CARD BEFORE CLICK */

.cardPointer {
  display: block;
  width: 2em;
  height: 2em;
  fill: $black-color;
  margin: 2em auto 0;
}

// .card {
//   color: $dark-light;
//   width: 100%;
//   height: 200px;
//   border: 1px solid $dark-light;
//   padding: 1em;
//   margin: .5em;
//   position: relative;

//   & .title {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 1.2em;
//     color: $black-color;
//     text-align: center;
//     transition: all $animation-duration ease;
//   }

//   & .desc {
//     // display: none;
//     opacity: 0;
//   }

//   & .tools {
//     // display: none;
//     opacity: 0;
//   }

//   & .links {
//     // display: none;
//     opacity: 0;
//   }
// }

/* END - CARD BEFORE CLICK */

/* BEGIN - CARD AFTER CLICK */

.cardPointerNone {
  display: none;
  transition: all $animation-duration ease;
}

.card {
  color: $background-grey;
  background-color: #5B7A8F;
  width: 100%;
  min-height: 200px;
  padding: 1em;
  margin: .5em;
  position: relative;
  box-shadow: 2px 4px 92px rgba(0,0,0,.11);
  transition: all $animation-duration ease;

  & .title {
    position: absolute;
    background-color: #5B7A8F;
    top: 1em;
    left: .8em;
    font-size: 1.4em;
    font-weight: bold;
    transition: $animation-duration ease;
  }

  & .desc {
    // display: block;
    opacity: 1;
    // margin: 2.5em 0 .8em 1em;
    margin: 2.5em 0 .8em 0;
    line-height: 1.2;
    letter-spacing: .05em;
    color: $black-color;
    transition: all $animation-duration ease;
  }

  & .tools {
    // display: block;
    opacity: 1;
    // margin:0 0 1em 1em;
    margin-bottom: 1em;
    letter-spacing: .05em;
    color: $black-color;
    transition: all $animation-duration ease;
  }

  & .links {
    display: flex;
    opacity: 1;
    flex-direction: row;
    justify-content: space-around;

    & a {
      padding: .5em .7em;
      border: 1px solid $background-grey;
      border-radius: 5px;
      transition: all 1s ease;
    }
  }
}

/* END - CARD AFTER CLICK */
