@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/mainBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 2rem;
}
