// imports
@import '../../styles/vars';

.app {
  background-color: $black-color;
}

.appNoScroll {
  max-height: 100vh;
  // overflow: hidden;
}

.me {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: $general-font-color;
  letter-spacing: .2rem;

  &-name {
    font-size: 2.3rem; 
    margin-bottom: .5rem;
  }

  &-job {
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.main {
  background-color: $background-grey;
}

.section-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.2;
  letter-spacing: .1em;
  font-family: 'Raleway', sans-serif;
}

.separateSection {
  background-color: $black-color;
  width: 2px;
  height: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.separateContact {
  background-color: $black-color;
  width: 2px;
  height: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg);
}
