// imports
@import '../../styles/vars';

.app {
  background-color: #0D1110;
}

.appNoScroll {
  max-height: 100vh;
  overflow: hidden;
}

.me {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: #fff;
  letter-spacing: .2rem;

  &-name {
    font-size: 2.3rem; 
    margin-bottom: .5rem;
  }

  &-job {
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.main {
  background-color: #E3E3E3;
  padding: 0 2em;
  color: #0D1110;
}

.about {
  

  &-title {
    text-align: center;
  }
}
