@import '../../styles/vars';

.about {
  position: relative;
  padding: 3em 3em 3em;
  color: $black-color;
  background-color: $background-grey;

  &-title {
    font-size: 3em;
    margin-bottom: 1em;
    line-height: 1.2;
    letter-spacing: .1em;
    font-family: 'Raleway', sans-serif;
  }

  &-desc {
    position: relative;
    z-index: 100;
    color: $dark-light;
    padding: 0 2em;
    line-height: 1.4;
    letter-spacing: .1em;
    font-size: 1.2em;

    &:nth-child(4) {
      margin: .5em 0;
      color: darken($dark-light, 20%);
    }
  }
}

.box {
  position: absolute;
  z-index: 0;
  background-color: #fff;
  width: 30%;
  height: 20vh;
  bottom: 10vh;
  box-shadow: 0 4px 92px rgba(0,0,0,.11);
}

.separateSection {
  background-color: $black-color;
  width: 2px;
  height: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
