@import '../../styles/vars';

.wrapperHeader {
  width: 90% !important;
  margin: 0 auto;
  transition: all $animation-duration ease;
}

.header {
  position: relative;
  height: 70vh;
  width: 100%;
  background-image: url('../../assets/img/mainBG.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black-color;
}

.hamburgerNav {
  position: fixed;
  top: 2%;
  right: 3%;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburgerNav:hover {
  cursor: pointer;
}

.hamburgerNav .hamburger-top {
  position: relative;
  background-color: $general-font-color;
  transform: rotate(45deg);
  top: 6px;
  transition: all $animation-duration ease;
}

.hamburgerNav .hamburger-center {
  display: none;
}

.hamburgerNav .hamburger-bottom {
  background-color: $general-font-color;
  transform: rotate(-45deg);
  top: -6px;
  transition: all $animation-duration ease;
}

.hamburger {
  position: fixed;
  z-index: 999;
  top: 2%;
  right: 3%;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    cursor: pointer;
  }

  &-top {
    position: relative;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $black-color;
  }

  &-center {
    width: 30px;
    height: 3px;
    background-color: $black-color;
  }

  &-bottom {
    position: relative;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $black-color;
  }
}

@media(min-width: 576px) {

  .hamburger:hover > .hamburger-top,
  .hamburger:hover > .hamburger-bottom {
    left: 10px;
    transition-property: all;
    transition-duration: $animation-duration;
    transition-timing-function: ease;
  }

}
